:root{
    --base:#f5d9d9;
    --spacing:10px;
    --blur:0px;
    --background:rgb(0, 0, 0);

}
    
body{
    background:var(--background);
    margin: auto;
    color:white;

}
h2{
    color:orange;
}
.controls{
   margin:50px;

}
label{
  display: block;

}
img{
    padding: var(--spacing);
    filter: blur(var(--blur));
    background: var(--base);
}